// Catppuccin Theme Color Palette

// Red
$red-light: #ed8796;
$red-dark: #e64553;

// Pink
$pink-light: #f0c6c6;
$pink-dark: #dd7878;

// Purple
$purple-light: #c6a0f6;
$purple-dark: #8839ef;

// Blue
$blue-light: #7dc4e4;
$blue-dark: #209fb5;

// Teal
$teal-light: #8bd5ca;
$teal-dark: #179299;

// Green
$green-light: #a6da95;
$green-dark: #40a02b;

// Yellow
$yellow-light: #eed49f;
$yellow-dark: #df8e1d;

// Orange
$orange-light: #f5a97f;
$orange-dark: #fe640b;

// Grey
$grey-050: #f9fafb;
$grey-100: #f3f4f6;
$grey-150: #ECEDF0;
$grey-200: #cad3f5;
$grey-250: #b8c0e0;
$grey-300: #a5adcb;
$grey-350: #939ab7;
$grey-400: #8087a2;
$grey-450: #6e738d;
$grey-500: #5b6078;
$grey-550: #494d64;
$grey-600: #363a4f;
$grey-650: #24273a;
$grey-700: #F00;
$grey-750: #181926;
$grey-800: #181926;
$grey-850: #181926; //Base
$grey-900: #1e2030; //Mantle
$grey-950: #181926;

// White
$white: #f9fafb;

// Black 
$black: #181926; //Crust

// Button
$button-close: if($variant == 'light', $red-dark, $red-light);
$button-max: if($variant == 'light', $green-dark, $green-light);
$button-min: if($variant == 'light', $yellow-dark, $yellow-light);

// Link
$links: if($variant == 'light', #04a5e5, #91d7e3);

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;